@import "./mixin.scss";
@import "./variables.scss";

.markers {
  position: absolute;
  transform: translate(-50%, -50%);
  .stock {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 102, 102);
    border-radius: 50%;
    height: 0.8rem;
    width: 0.8rem;
    span {
      color: white;
      font-weight: bold;
    }
  }
}
