// Import of variables
@import "./variables.scss";

// BUTTONS

@mixin btn {
  border: 1px solid $seventh-color;
  text-decoration: none;
  color: $sixth-color;
  width: 100%;
  display: flex;
  margin: 0.5rem 0;
  padding: 0.8em;
  font-size: 0.8rem;
  background-color: $fourth-color;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

@mixin btn-hover {
  transition: all 0.2s ease-in-out;
  border: 1px solid $main-color;
}

// TITLE
@mixin title {
  font-size: 1rem;
  color: $second-color;
  text-transform: uppercase;
}

// HITS LIST (PARENT)
@mixin hits-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  width: 100%;
}

// HIT LIST (individual child)

@mixin hit-list {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: $third-color solid 1px;
  margin: 0.2rem;
  padding: 1rem;
  cursor: pointer;
  border: 1px solid $seventh-color;

  .infos {
    position: relative;
    h3 {
      margin: 1rem auto;
      font-size: 0.8rem;
      // text-overflow: ellipsis;
      // overflow: hidden;
      // white-space: nowrap;
      text-align: center;
    }
    p {
      font-size: 0.8rem;
      font-weight: 200;
    }
    .infos__card-svg {
      svg {
        position: absolute;
        right: 0;
        top: 5rem;
      }
    }
    .stock {
      display: flex;
      align-items: center;
      justify-content: end;
    }
  }

  .phone {
    display: flex;
    justify-content: end;
    align-items: center;
    p {
      font-size: 0.8rem;
    }
  }

  .image-wrapper {
    width: 100%;

    img {
      width: 100%;
      background-image: $third-color;
      object-fit: cover;
      object-position: center;
      position: relative;
    }
  }
}
