// COLORS

$main-color: #000;
$second-color: #80D8D0;
$third-color: #f2f2f2;
$fourth-color: #fff;
$sixth-color: #0073b1;
$seventh-color: #f2f2f2;
$heigth-color: #929292;

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;800&display=swap');
$main-font: 'Montserrat', sans-serif;

//MAIN STYLING
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  
}

h1,
h2,
h3,
h4,
p,
span {
  font-family: $main-font;
  color: $main-color;
}

a {
  text-decoration: none;
}

li,
ul {
  list-style: none;
  font-family: $main-font;
  color: $main-color;
}